:root{
  --brand-red:#E52B2B;
  --ink-900:#0B0B0F; --ink-800:#121218; --ink-700:#1A1A22;
  --ink-400:#7A7C84; --ink-200:#B5B6BE; --white:#FFF;

  --radius-l:20px; --radius-m:16px;
  --shadow-1:0 10px 30px rgba(0,0,0,.35);
  --ff-head:"Montserrat","Outfit",system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  --ff-body:"Inter","Manrope",system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;

  --container:1280px;

  --dur-xxs:160ms; --dur-xs:240ms; --dur-s:340ms; --dur-m:480ms;
  --ease:cubic-bezier(.2,.8,.2,1);
}
